@font-face {
  font-family: 'NunitoSansBold';
  src: url("../font/NunitoSans/NunitoSans-Bold.eot");
  src: url("../font/NunitoSans/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NunitoSans/NunitoSans-Bold.woff2") format("woff2"), url("../font/NunitoSans/NunitoSans-Bold.woff") format("woff"), url("../font/NunitoSans/NunitoSans-Bold.ttf") format("truetype"), url("../font/NunitoSans/NunitoSans-Bold.svg#NunitoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSansSemiBold';
  src: url("../font/NunitoSans/NunitoSans-SemiBold.eot");
  src: url("../font/NunitoSans/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/NunitoSans/NunitoSans-SemiBold.woff2") format("woff2"), url("../font/NunitoSans/NunitoSans-SemiBold.woff") format("woff"), url("../font/NunitoSans/NunitoSans-SemiBold.ttf") format("truetype"), url("../font/NunitoSans/NunitoSans-SemiBold.svg#NunitoSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSansLight';
  src: url("../font/NunitoSans/NunitoSans-Light.eot");
  src: url("../font/NunitoSans/NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url("../font/NunitoSans/NunitoSans-Light.woff2") format("woff2"), url("../font/NunitoSans/NunitoSans-Light.woff") format("woff"), url("../font/NunitoSans/NunitoSans-Light.ttf") format("truetype"), url("../font/NunitoSans/NunitoSans-Light.svg#NunitoSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
